* {
    box-sizing: border-box;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: #044caa;
    background: #f1f1f1;
}

input[type=radio] {
    height: 18px;
    width: 18px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Set a style for all buttons */

button {
    float: center;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: .5;
}

.container {
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-color: rgb(250, 244, 245);
}

body {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1d91df, #19ebac);
    margin: 0;
    padding: 40px;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.success {
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}